@use "../abstract/mixin";
@use "../abstract/variables" as var;

.hero_banner {
    @include mixin.flex($justify: flex-start);
    position: relative;
    height: 95vh;
    background-image: url(../img/bg_image.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var.$section;

    .bg_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .title {
        @include mixin.flex(column, center, flex-end);
        width: 50%;

        h2 {
            margin-top: -20px;
        }
    }
}