@use "../abstract/mixin";
@use "../abstract/variables" as var;

.history {
    @include mixin.flex(column, center, center);
    padding: 40px 20px;


    // Gestion inversion row article
    article:not(:nth-child(2)) {
        @include mixin.flex(column, center, center);
        margin-top: 40px;

        .text_img {
            @include mixin.flex;
        }
    }

    article:nth-child(2) {
        @include mixin.flex(column, center, center);
        margin-top: 40px;

        .title {
            align-self: flex-end;
        }

        .text_img {
            @include mixin.flex(row-reverse, center, center);
        }
    }
    //////////////////////////////////////////
    
    // Elements généraux

    .title {
        font-family: var.$Cormorant;
        font-weight: bold;
        font-size: var.$desktop-h3;
        align-self: flex-start;
    }

    .img_wrapper {
        width: 100%;

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 3px;
        }
    }

    .text_img {
        gap: 50px;
    }
    .text {
        width: 100%;
        font-family: var.$Nunito;
        font-size: var.$desktop-body1;

        span {
            display: block;
            margin-top: 20px;
        }
    }
}

   .lavender_bg {
        width: 100%;
        height: 180px;
        background-image: url('../img/lavender-scroll.jpg');
        background-attachment: fixed;

        .visually_hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border: 0;
        }
   }


    .test {
        height: 800px;
    }