@use "../abstract/mixin";
@use "../abstract/variables" as var;

.testimony {
    @include mixin.flex;
    font-size: var.$desktop-body1;
    padding: 40px 20px;

    .swiper, .swiper-parent {
        @include mixin.flex(column, center, center);
        gap: 30px;
        width: 100%;
        height: auto;
    }

    .swiper {
        position: relative;
        padding-bottom: 40px;
        overflow: hidden;
    }

    .swiper-pagination {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .swiper-slide-content {
        @include mixin.flex(column, center, center);
        font-family: var.$Nunito;
        width: 100%;
        font-size: var.$desktop-body1;

        .img_wrapper {
            width: 10%;

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 50%;

            }
        }

        .comment {
            width: 50%;
            text-align: center;
        }
    }
}

@media screen and (max-width: 768px) {
    .testimony {

        .swiper-slide-content {
            font-size: var.$mobile-body1;

            .comment {
                width: 30%;
            }

            .img_wrapper {
                width: 5%;
            }
        }
    }
}