@use "sections/hero";
@use "sections/history";
@use "sections/honey";
@use "sections/questions";
@use "sections/testimony";
@use "layout/header";
@use "layout/footer";
@use "abstract/font";
@use "abstract/variables" as var;
@use "abstract/mixin";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: var.$sectionLight;
    z-index: 0;
    color: var.$text;
    position: relative;

    h1 {
        font-size: var.$desktop-h1;
        font-family: var.$Cormorant;
        font-weight: bold;
    }

    h2 {
        font-size: var.$desktop-h2;
        font-family: var.$Nunito;
    }

    .max-w-site {
        max-width: 1440px;
        @include mixin.flex(column, center, center);
    }
}

.cta {
    @include mixin.flex;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    background-color: var.$section;
    border-radius: 3px;
    box-shadow: -0.5px 1px 5px rgba(0, 0, 0, 0.20);
    border: 1px solid #BABABA;
    transition: .3s ease;
    cursor: pointer;

    &:hover {
        background-color: var.$sectionLight;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.20);
    }
    
    a {
        color: var.$text;
        font-family: var.$Nunito;
        font-size: var.$desktop-button;
    }
}

@media screen and (max-width: 768px) {
    body {
        h1 {
            font-size: var.$mobile-h1;
        }

        h2 {
            font-size: var.$mobile-h2;
        }
    }
}