// Colors
$sectionLight: #F1F5F1;
$section: #DCE7DC;
$text: #333333;
$accent: #CBAACB;
$main: #C1D2C1;
$mainDark: #7C9C7C;
$focus: #FFD700;

// Font families
$Cormorant: 'Cormorant';
$Nunito: 'Nunito';

// Font sizes (mobile)
$mobile-h1: 66px;
$mobile-h2: 28px;
$mobile-h3: 24px;
$mobile-h4: 20px;
$mobile-h5: 20px;
$mobile-body1: 18px;
$mobile-body2: 18px;
$mobile-button: 14px;
$mobile-link: 11px;

// Font sizes (desktop)
$desktop-h1: 96px;
$desktop-h2: 36px;
$desktop-h3: 32px;
$desktop-h4: 24px;
$desktop-h5: 24px;
$desktop-body1: 20px;
$desktop-body2: 14px;
$desktop-button: 16px;
$desktop-link: 14px